#title{
    margin: 1rem 0 0 1rem;
}

.all_plants {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    margin: 1rem 0 0 1rem;
 }

 .header a{
   transform: scale(2);
   margin-top: 25px;
   margin-left: 25px;
 }

 .plant_card {
     display: flex;
     flex-direction: column;
     padding: 1rem;
     background-color: rgba(50, 50, 50, 0.4);
     border-radius: 10px;
 }

 .plant_card:hover {
   transform: scale(1.05);
   background-color: rgba(58, 57, 88, 0.4);
 }

 .plant_attribute {
     display: flex;
     justify-content: space-between;
 }

 .plant_attribute span {
    font-style: italic;
 }

 .plantHeadersButtons {
    display: flex;
    justify-content: flex-end;
 }

 .plantHeadersButtons a {
    margin-top: -3px;
 }

 .disabled { 
    display: none;
 }
