.userList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.userCard {
    padding: 2rem;
}

.userCard span {
    color: aliceblue;
    font-style: italic;
}

.userCard h3 {
    font-weight: bold;
}

.header {
    display: flex;
    gap: 2rem;
}

.headerButtons{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.headerButtons a {
    margin-top: 4px;
}

.headerButtons svg {
    cursor: pointer;
}